@import "../../Global.scss";

.aboutme{
    background-color: black;
    display: flex;
    border-top: 10px solid #689AA9;
    border-bottom: 10px solid #F2C36B;

    @include mobile{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .left{
        flex: 0.4;
        overflow: hidden;
        margin-top: 15%;
        margin-right: 30px;
        margin-left: 90px;
        justify-content: center;
        align-items: center;

        @include mobile{
            margin-top: 5px;
            margin-bottom: 0;
            height: 160px;
        }

        .imgContainer{
            background-color: #689AA9;
            border-radius: 50%;
            border: 10px solid #689AA9;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include mobile{
                align-items: flex-start;
                border: 5px solid #689AA9;
                margin-bottom: 0;
                margin: 0;
                border: 0;
            }

            img{
                height: 100%;

                @include mobile{
                    height: 150px;
                    width: 150px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .right{
        background-color: black;
        flex: 0.6;
        position: relative;
        margin-left: 120px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        @include mobile{
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;
            margin-right: 10px;
        }

        .title{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            h1{
                font-size: 90px;
                color: white;
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;

                .hyphen{
                    color: #689AA9;

                    @include mobile{
                        font-size: 30px;
                        line-height: 30px;
                        padding: 0;
                        margin: 0;
                        scrollbar-width: none; // for firefox
                        &::-webkit-scrollbar{
                        display: none;
                        }
                    }
                }

                @include mobile{
                    font-size: 30px;
                    scrollbar-width: none; // for firefox
                    &::-webkit-scrollbar{
                    display: none;
                    }
                }
            }

            h2{
                font-size: 40px;
                color: #689AA9;

                span{
                    font-size: inherit;
                    color: #689AA9;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }
          
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }  
                }

                @include mobile{
                    font-size: 20px;
                    height: 40px;
                    margin: 0;
                    padding: 0;
                    scrollbar-width: none; // for firefox
                    &::-webkit-scrollbar{
                    display: none;
                    }
                }
            }

            p{
                margin-top: 50px;
                font-size: 30px;
                font-weight: 5px;
                line-height: 50px;
                color: white;

                @include mobile{
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            button{
                border-radius: 4px;
                background-color: #689AA9;
                white-space: nowrap;
                padding: 15px 64px;
                margin-top: 30px;
                color: #fff;
                font-size: 35px;
                outline: none;
                border: none;
                cursor: pointer;
              
                &:hover {
                  transition: all 0.3s ease-out;
                  background: #fff;
                  background-color: black;
                  border: 4px solid #689AA9;
                }

                @include mobile{
                    font-size: 15px;
                    line-height: 30px;
                    padding: 10px 40px;
                }
            }
        }
    }
}